:root {
  /* Font stacks */
  --text: Inter, Arial, sans-serif;
  --heading: Inter, Arial, sans-serif;
  --display: "Familjen Grotesk", Inter, Arial, sans-serif;
  --monospace: "Source Code Pro", monospace;
  --rubik: 'Rubik Mono One', monospace;
  --nunito: 'Nunito', sans-serif;

  /* Sizes */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;
  --font-6xl: 3.75rem;
  --font-7xl: 4.5rem;
  --font-8xl: 6rem;
  --font-9xl: 8rem;

  /* Line heights */
  --leading-none: 1;
  --leading-4: 1rem;
  --leading-5: 1.25rem;
  --leading-6: 1.5rem;
  --leading-7: 1.75rem;
  --leading-8: 2rem;
  --leading-9: 2.25rem;
  --leading-10: 2.5rem;

  /* Letter spacing */
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
}
