body {
  font-family: var(--text);
  color: var(--foreground);
  background-color: var(--background);
  font-size: var(--font-base);
  line-height: var(--leading-6);
  accent-color: var(--primary);
}



hr {
  margin-block: 48px;
  border: none;
  border-top: 1px solid var(--border);
}

:focus {
  outline-offset: 4px;
  outline-color: var(--ring);
  outline-width: 2px;
}

/* Form Elements */

/* label {
  color: var(--foreground);
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: var(--leading-none);
}

textarea {
  height: unset;
}

input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--muted-foreground);
}

input::file-selector-button {
  padding: 0 var(--spacing-1);
  border: none;
  background-color: transparent;
  border-radius: var(--rounded);

  color: var(--foreground);
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
} */
