.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.status {
  color: #0f172a;
  text-align: center;
  font-family: var(--nunito);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 111.111% */
}

.row {
  display: flex;
  height: 5.625rem;
}
.board {
  display: flex;
  flex-direction: column;
  width: 16.875rem;
  height: 16.875rem;
}
